body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
li {
  list-style-type: none;
}

body {
  padding: 0;
}

@media (max-width: 767px) {
  .carousel h3 {
    font-size: 15px !important;
  }
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  width: auto;
}

#app {
  width: 100%;
  margin: 0;
}



#myCarousel {
  margin-bottom: 5%;
}

#myCarousel h1 {
  font-size: 2em;
}

#teamSelect {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

#originSelect {
  margin-bottom: 15px;
}

