body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
li {
  list-style-type: none;
}


.carousel-inner > .item > img {
  margin: 0 auto;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  width: auto;
}

#myCarousel {
  margin-bottom: 5%;
}